<div class="container py-5" style="max-width: 420px;">

  <h2 class="fw-bold text-center mb-4">
    Empieza gratis
  </h2>

  <form (ngSubmit)="register(form)" #form="ngForm" novalidate>

    <!-- NOMBRE -->
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        required
        minlength="2"
        pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$"
        [(ngModel)]="user.name"
        name="name"
        #nameField="ngModel">

        @if (nameField.invalid && (nameField.dirty || nameField.touched)) {
          <div class="text-danger mt-1">
            @if (nameField.errors?.['required']) {
              <div>El nombre es obligatorio</div>
            }
            @if (nameField.errors?.['minlength']) {
              <div>Debe tener al menos 2 caracteres</div>
            }
            @if (nameField.errors?.['pattern']) {
              <div>
                Solo se permiten letras y espacios
              </div>
            }
          </div>
        }
      </div>

      <!-- EMAIL -->
      <div class="mb-3">
        <label class="form-label">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          required
          email
          [(ngModel)]="user.email"
          name="email"
          #emailField="ngModel">

          @if (emailField.invalid && (emailField.dirty || emailField.touched)) {
            <div class="text-danger mt-1">
              @if (emailField.errors?.['required']) {
                <div>El email es obligatorio</div>
              }
              @if (emailField.errors?.['email']) {
                <div>Email inválido</div>
              }
            </div>
          }
        </div>

        <!-- PASSWORD -->
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            required
            minlength="8"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z\d]).{8,}$"
            [(ngModel)]="user.password"
            name="password"
            #passwordField="ngModel">

            @if (passwordField.invalid && (passwordField.dirty || passwordField.touched)) {
              <div class="text-danger mt-1">
                @if (passwordField.errors?.['required']) {
                  <div>La contraseña es obligatoria</div>
                }
                @if (passwordField.errors?.['minlength']) {
                  <div>
                    Debe tener al menos 8 caracteres
                  </div>
                }
                @if (passwordField.errors?.['pattern']) {
                  <div>
                    Debe incluir mayúscula, minúscula, número y carácter especial
                  </div>
                }
              </div>
            }
          </div>

          <!-- CONFIRMAR PASSWORD -->
          <div class="mb-3">
            <label class="form-label">Confirmar Contraseña</label>
            <input
              type="password"
              class="form-control"
              required
              [(ngModel)]="user.confirmPassword"
              name="confirmPassword"
              #confirmPasswordField="ngModel">

              @if (confirmPasswordField.invalid && (confirmPasswordField.dirty || confirmPasswordField.touched)) {
                <div class="text-danger mt-1">
                  Debes confirmar la contraseña
                </div>
              }

              @if (user.password && user.confirmPassword
                && user.password !== user.confirmPassword
                && (confirmPasswordField.dirty || confirmPasswordField.touched)) {
                <div
                  class="text-danger mt-1">
                  Las contraseñas no coinciden
                </div>
              }
            </div>

            <!-- ERROR GLOBAL -->
            @if (error) {
              <div class="alert alert-danger">
                {{ error }}
              </div>
            }

            <!-- SUBMIT -->
            <button
              class="btn btn-primary w-100"
              [disabled]="loading || !form.valid || user.password !== user.confirmPassword">

              @if (!loading) {
                <span>Crear cuenta</span>
              }
              @if (loading) {
                <span>Creando cuenta...</span>
              }
            </button>
            @if (message) {
              <div class="alert alert-success mt-4 text-center">
                {{ message }}
              </div>
            }
          </form>

          <div class="text-center mt-4">
            <small class="text-muted">
              ¿Ya tienes cuenta?
              <a routerLink="/login" class="fw-semibold">
                Inicia sesión
              </a>
            </small>
          </div>

        </div>