<div class="recover-container">

  <h2>Recuperar contraseña</h2>

  <input
    type="email"
    [(ngModel)]="email"
    placeholder="Ingresa tu correo"
    />

    <button
      class="recover-btn"
      (click)="recoverPassword()"
      [disabled]="isLoading">

      @if (!isLoading) {
        <span>Enviar enlace</span>
      }
      @if (isLoading) {
        <span>Enviando...</span>
      }

    </button>

    @if (message) {
      <p class="success-msg">
        {{ message }}
      </p>
    }

    @if (errorMessage) {
      <p class="error-msg">
        {{ errorMessage }}
      </p>
    }

  </div>