<div class="recover-container">

  <h2>Recuperar contraseña</h2>

  <input
    type="email"
    [(ngModel)]="email"
    placeholder="Ingresa tu correo"
  />

  <button
    class="recover-btn"
    (click)="recoverPassword()"
    [disabled]="isLoading">

    <span *ngIf="!isLoading">Enviar enlace</span>
    <span *ngIf="isLoading">Enviando...</span>

  </button>

  <p *ngIf="message" class="success-msg">
    {{ message }}
  </p>

  <p *ngIf="errorMessage" class="error-msg">
    {{ errorMessage }}
  </p>

</div>