@if (word) {
  <div class="lesson-card fade-in">
    <!-- BOTÓN CERRAR -->
    <button class="close-btn" (click)="onCancel()">
      ✕
    </button>
    <span class="badge">Vocabulary</span>
    <h2 class="english-word">
      {{ word.word }}
    </h2>
    @if (word.ipa) {
      <p class="ipa">
        /{{ word.ipa }}/
      </p>
    }
    @if (word.image) {
      <div class="image-container">
        <img [src]="word.image" alt="word image" />
      </div>
    }
    <!-- Translation Box -->
    <div class="translation-box">
      {{ word.translation }}
    </div>
    <!-- AUDIO -->
    <button
      class="audio-btn"
      [class.playing]="isPlaying"
      (click)="playAudio()">
      🔊 Escuchar pronunciación
    </button>
    <!-- MARCAR -->
    <button
      class="learned-btn"
      [class.active]="markedAsLearned"
      (click)="markAsLearned()">
      ✔ {{ markedAsLearned ? 'Aprendida' : 'Marcar como aprendida' }}
    </button>
    <button class="continue-btn" (click)="continue()">
      Continuar →
    </button>
  </div>
}